* {
  box-sizing: border-box;
  word-break: break-all;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  width: 50%;
  margin: auto;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}