* {
  box-sizing: border-box;
  word-break: break-all;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  width: 50%;
  margin: auto;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

form {
  width: 100%;
}

.Input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75em + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

.Textarea {
  height: 40vh !important;
  font: inherit;
}

.Textarea-small {
  height: 10vh !important;
}

.Img {
    width: 100%;
    text-align: center;
}

.Block {
    display: inline-block;
    width: 100%;
}

.Button {
  text-align: right;
  height: auto;
}

.Container {
    width: 100%;
    text-align: center;
}

.Content {
    text-align: left !important;
    max-width: 100% !important;
    margin: 30px 0 !important;
    width: 100% !important;
}

.M30 {
  margin: 30px 0;
}