.Search {
  width: 70%;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Search div {
  width: 30%;
  padding-right: 0;
}

.Search button {
  margin-left: 0;
}

.Categories {
  width: 30%;
  padding: 0 10px;
}

.Bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}