.Button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0.375rem 0.75rem;;
    margin: 0.2rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Button:hover {
    text-decoration: none;
    color: #212529;
}

.Button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.Success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.Success:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.Danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.Danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.Danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.Secondary {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
}

.Secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.Secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}